@import 'tailwindcss';

@theme inline {
  --font-primary: var(--font-inter-sans), Arial, Helvetica, sans-serif;
  --font-secondary: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #ffd400;
  --color-secondary: #16479d;
  --color-back-200: #eee;
  --color-back-300: #dfdfdf;
  --color-back-400: #CBCBCB;
  --color-back-600: #666;
  --color-back-700: #444;
  --color-valid-500: #25b456;

  --breakpoint-xs: 30rem;
}

@utility container {
  @apply mx-auto py-6 px-7.5;
}
